pre {
  background: rgb(114, 114, 114);
  overflow-x: hidden;
  overflow-y: hidden;
}

code {
  overflow-x: hidden;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  color: aquamarine;
  height: 20px; /* height of horizontal scrollbar ← You're missing this */
  width: 20px; /* width of vertical scrollbar */
  border: 0px solid #e95959;
}
